<nav class="navigation-bar">
	<ul class="brand-section">
		<li class="brand-name" >
			<a href="/" style="display: inline"><%= image_tag "logo.png", size: "45x45" %></a>
			<h4 class="logo">AppCh</h3>
		</li>
		<li class ="menu-toggle">
			<a href="#"></a>
		</li>
	</ul>
	<ul class="pull-right">
	     <li class="divider"></li>
	     <li class="active"><a href="/">Status</a></li>
	     <li class="divider"></li>
	     <li><a href="/control">Control</a></li>
	     <li class="divider"></li>
	     <li><a href="/configuration">Configuration</a></li>
	     <li class="divider"></li>
	     <li><a href="/stop" class="button danger three-d">STOP</a></li>
	     <li class="divider"></li>
	</ul>
</nav>


<h1>AppChallenge</h1>

Initial text

<br>
